<div class="container section section-services" id="services">
    <h3>Our services</h3>
    <h5 class="h5-blue">What we can do</h5>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shape-services">
                <div class="shape-services-inside">
                    <img src="resources/img/webdesign.svg" alt="webdesign"/>
                    <h4 class="ss-h4">Webdesign</h4>
                    <span >Lorem ipsum dolor sit amet</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shape-services">
                <div class="shape-services-inside">
                    <img src="resources/img/apidevelopment.svg" alt="apidevelopment"/>
                    <h4 class="ss-h4">API development</h4>
                    <span>Lorem ipsum dolor sit amet</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shape-services">
                <div class="shape-services-inside">
                    <img src="resources/img/backend.svg" alt="backebd"/>
                    <h4 class="ss-h4">Beckend</h4>
                    <span>Lorem ipsum dolor sit amet</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shape-services">
                <div class="shape-services-inside">
                    <img src="resources/img/mobileapps.svg" alt="mobileapps"/>
                    <h4 class="ss-h4">Mobile apps</h4>
                    <span>Lorem ipsum dolor sit amet</span>
                </div>
            </div>
        </div>
    </div>
    
    
</div>